{%extends "NAVExtend.html"%}

{%block Contenido%}
<style>

    .log{
            font-family: 'Rubik', sans-serif;
            margin-left: 20px;
            font-size: 50px;
            text-shadow: 2px 2px  #22C95C;
        }
        .PG{
            font-family: 'Montserrat', sans-serif;
            margin-right: 10px;
        }
        .Selected{
          text-shadow: 2px 2px  #22C95C;
    
        }
        .btns{
            left: 50%;
            
            padding: 15px 32px 15px 32px ;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            background-color: #4CAF50; /* Green */
            border-radius: 50px;
            font-family: 'Rubik', sans-serif;
          color: white;
        }
        .RB{
          font-family: 'Rubik', sans-serif;
          font-size: 60px;
        }
      </style>
<form action="#">
    <div class="container">
        <div class="container">
            <h4 class="log">Nueva Contraseña</h4>
          </div>
    <div class="form-group">
        <input type="text" placeholder="Ingresa tu Contraseña Actual">
    </div>

    
    <div class="form-group">
        <input type="text" placeholder="Ingresa tu  Contraseña Nueva">
    </div>

        <div class="form-group">
    <input type="text" placeholder="Confirma tu  Contraseña Nueva">
</div>
<input type="submit" name="" class="btns" value="Cambiar Contraseña">


    </div>

    
</form>
{%endblock%}